ul{
    font-weight: bold;
    font-size: 20px;
    color: blue;
}
body{
    background-color: darkgray;
}
.tracks{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: navy;
}
a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
}

a:link {
  color: purple;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
  background-color: yellow;
}

a:active {
  color: blue;
}
thead{
    background-color: peru;
    text-align: center;
}
tbody{
    font-style: italic;
    text-align: center;
    background-color: mediumseagreen;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 20px 5px 20px;
}
